body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdb0ce;
}

/*HEADER---------------------------------------------------------------------*/
header{
    background-color: #f571a4;
    color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
  }
  
  #mercadinho{
    margin: 0;
    position: absolute;
    top: 16px; 
    left: 557px;
  }
  
  #voltar{
    margin-left: auto;
    background-color: #f72ba2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #voltar:hover{
    background-color: #f51a9a;
  }
/*--------------------------------------------------------------------------*/

/*ESTILIZAÇÃO FORMULÁRIO INFO CLIENTE---------------------------------------*/
.container{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 40px; 
    left: 150px;
}

#formulariolabel{
    margin-top: 0;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],input[type="number"],select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#cep{
    width: 120px;
}

#numero{
    width: 60px;
    text-align: center;
}

#cvc{
    width: 60px;
    text-align: center;
}

#datavalidade{
    width: 100px;
}

#confirmar{
    margin: 0 auto;
    display: block;
    background-color: #f72ba2;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#confirmar:hover{
    background-color: #f51a9a;
}
/*--------------------------------------------------------------------------*/

/*CARRINHO-----------------------------------------------------------*/
.table-container {
    width: 450px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0px; 
    left: 500px;
  }

  .imagemcarrinho{
    width: 90px;
    height: 90px;
    border-radius: 5px;
  }

  .table-container .table td:nth-child(1) {
    padding-right: 50px; 
}

  .table-container .table td:nth-child(2) {
    padding-right: 50px; 
}

.valortotal {
    display: block;
    margin: 20px auto; 
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
  }
  
  /*-------------------------------------------------------------------*/