body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #616161;
  }
  

/*HEADER-------------------------------------------------------------*/
  header{
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1{
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  #sair{
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sair:hover{
    background-color: #cc4b39;
  }
/*-------------------------------------------------------------------*/
/*CATALOGO-----------------------------------------------------------*/
.table-container {
  width: 750px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 90px; 
  left: 70px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table th {
  background-color: white;
}

#carrinho{
  background-color: #ff6347;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#carrinho:hover{
  background-color: #cc4b39;
}

#carrinhoimg{
  width: 25px;
  height: 25px;
}

#imgcatalogo{
width: 125px;
height: 125px;
border-radius: 5px;

}
/*-------------------------------------------------------------------*/

/*CARRINHO-----------------------------------------------------------*/
.imagemcarrinho {
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.containercarrinho {
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 90px;
  left: 960px;
}

.containercarrinho h2 {
  margin-bottom: 20px;
  color: #333;
}

#carrinho-body {
  border-collapse: collapse;
  width: 100%;
}

#carrinho-body td,
#carrinho-body th {
  padding: 15px; /* Aumenta o espaçamento entre as células */
  border-bottom: 1px solid #ddd;
}

#carrinho-body th {
  background-color: #f2f2f2;
  color: #333;
}


.valortotal {
  display: block;
  margin: 20px auto; /* Adiciona margem automática para centralizar horizontalmente */
  font-size: 18px; /* Aumenta o tamanho da fonte do valor total */
  font-weight: bold; /* Deixa o valor total em negrito */
  text-align: center; /* Centraliza o valor total */
}


.removercarrinho{
  background-color: #ff6347;
  color: #fff;
  margin: 20px auto; /* Centraliza o botão de finalizar compra */
  padding: 12px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.removercarrinho:hover {
  background-color: #cc4b39;
}

.finalizarcompra {
  display: block;
  margin: 20px auto; /* Centraliza o botão de finalizar compra */
  padding: 15px 90px; /* Ajusta o padding do botão */
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.finalizarcompra:hover {
  background-color: #cc4b39;
}
/*-------------------------------------------------------------------*/